/* сброс стилей + */
body {
    margin: 0px;
    padding: 0px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* конец блока СБРОС СТИЛЕЙ - */
/* блок ПЕРЕМЕННЫЕ + */
:root {
    /* Цвета */
    --system-color-bondiBlue: rgb(0 58 71);
    --system-color-canaryYellow: rgb(255 239 0);
    --system-color-caribbeanGreen: rgb(0 204 153);

    /* Семейство шрифтов*/
    --font-family: "Poppins", sans-serif;
    --second-family: "Roboto", sans-serif;
    --third-family: "Inter", sans-serif;

    /* Размеры шрифта */
    --system-fontSize-jumbo: 3.052rem;
    --system-fontSize-large: 1.563rem;
    --system-fontSize-small: 0.8rem;

    /* Вес шрифта */
    --system-fontWeight-bold: 700;
    --system-fontWeight-medium: 400;
    --system-fontWeight-light: 200;

    /* Длительность */
    --system-duration-presto: 60ms;
    --system-duration-allegro: 125ms;
    --system-duration-andante: 500ms;

    /* Повышение */
    --system-boxShadow-slightlyRaised: 0 1px 2px 0 rgb(0 0 0 / 10%);
    --system-boxShadow-floatingBox: 0 0 30px 0 rgb(0 0 0 / 35%);
}

/* Конц блока ПЕРЕМЕННЫЕ - */
@media (max-width: 480px) {
    .header {}

    .header__img {
        width: 360px;
        height: 257px;
    }

    .header__form {
        margin: 0px;
        border-radius: 0 0 20px 20px;
        width: 360px;
        height: 235px;
        background: #171717;
        text-align: center;
    }

    .header-foto__ico {
        position: relative;
        top: -280px;
        left: 160px;
    }

    .checkForNomer {}

    .checkForNomer__text-main {
        margin: 0px;
        font-family: var(--third-family);
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: rgba(245, 245, 245, 0.8)
    }

    .checkForNomer__label {
        font-family: var(--third-family);
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: rgba(245, 245, 245, 0.8)
    }

    .checkForNomer__date {
        box-sizing: border-box;
        border: 1px solid #e0e0e0;
        border-radius: 8px;
        padding: 8px 16px;
        width: 295px;
        height: 40px;
        box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
        background: #fff;
        margin-top: 6px;
    }

    .checkForNomer__phone-namber {
        box-sizing: border-box;
        /* border: 1px solid #e0e0e0; */
        border-radius: 8px;
        padding: 8px 16px;
        width: 342px;
        height: 40px;
        box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
        background: #fff;
        margin-top: 6px;
    }

    .checkForNomer__button {
        box-sizing: border-box;
        border-radius: 20px;
        padding: 14px 24px;
        width: 342px;
        height: 60px;
        box-shadow: 4px 4px 3px 0 rgba(0, 0, 0, 0.25);
        background: #fff;
        margin-top: 6px;
    }

    .main {}

    .main__info-aboutAs {}

    .info-aboutAs {
        width: 333px;
        /* height: 500px; */
    }

    .aboutAs__label-english {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: 0.14em;
        text-transform: uppercase;
        color: #e6b939;
        margin-bottom: 0px;
    }

    .aboutAs__title {
        margin: 0px;
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 36px;
        line-height: 120%;
        color: #575445;
    }

    .aboutAs__text {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
        color: #575445;
    }

    .main__photo-aboutAs {}

    .photo-aboutAs {
        border-radius: 20px;
        width: 360px;
        /* height: 285px; */
    }

    .photo-aboutAs__img {
        margin-top: 5px;
        border-radius: 20px;
        width: 360px;
        height: 350px;
    }

    .photo-aboutAs__point {
        position: relative;
        top: -25px;
        left: 130px;
    }

    .photo-point {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        height: 100%;
    }

    .photo-point__in {
        width: 10px;
        height: 10px;
        border-radius: 10px;
        background-color: #171717;
    }

    .photo-point__in-red {
        background-color: red;
    }

}

;