/* сброс стилей + */
body {
    margin: 0px;
    padding: 0px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* конец блока СБРОС СТИЛЕЙ - */
/* блок ПЕРЕМЕННЫЕ + */
:root {
    /* Цвета */
    --system-color-bondiBlue: rgb(0 58 71);
    --system-color-canaryYellow: rgb(255 239 0);
    --system-color-caribbeanGreen: rgb(0 204 153);

    /* Семейство шрифтов*/
    --font-family: "Poppins", sans-serif;
    --second-family: "Roboto", sans-serif;
    --third-family: "Inter", sans-serif;

    /* Размеры шрифта */
    --system-fontSize-jumbo: 3.052rem;
    --system-fontSize-large: 1.563rem;
    --system-fontSize-small: 0.8rem;

    /* Вес шрифта */
    --system-fontWeight-bold: 700;
    --system-fontWeight-medium: 400;
    --system-fontWeight-light: 200;

    /* Длительность */
    --system-duration-presto: 60ms;
    --system-duration-allegro: 125ms;
    --system-duration-andante: 500ms;

    /* Повышение */
    --system-boxShadow-slightlyRaised: 0 1px 2px 0 rgb(0 0 0 / 10%);
    --system-boxShadow-floatingBox: 0 0 30px 0 rgb(0 0 0 / 35%);
}

/* Конц блока ПЕРЕМЕННЫЕ - */


@media (max-width: 480px) {
    body {
        background-color: #E0E0E0;
        margin-top: 7px;
        margin-left: 7px;
        margin-right: 7px;
    }

    .header__img {
        width: 100%;
        height: 385px;
        border-radius: 30px;
        /* padding-left: 7px;
        padding-right: 7px; */
    }

    .header__form {
        /* margin-top: -4px; */
        /* border-radius: 0 0 20px 20px; */
        width: 100%;
        /* height: 235px; */
        /* background: #ffffff; */
        text-align: center;
    }

    .header-foto__ico {
        position: relative;
        top: -230px;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 115px;
    }

    .checkForNomer__text-main {
        margin: 0px;
        font-family: var(--third-family);
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: rgba(245, 245, 245, 0.8)
    }

    .checkForNomer__label {
        font-family: var(--third-family);
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: rgba(245, 245, 245, 0.8)
    }

    .checkForNomer__date {
        box-sizing: border-box;
        border: none;
        border-radius: 8px;
        padding: 8px 16px;
        width: 97%;
        height: 40px;
        background: #fff;
        margin-top: 6px;
        font-family: var(--third-family);
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: rgba(18, 18, 18, 0.8);
    }

    .checkForNomer__phone-namber {
        box-sizing: border-box;
        border: none;
        border-radius: 8px;
        padding: 8px 16px;
        width: 97%;
        height: 40px;
        background: #fff;
        margin-top: 6px;
        font-family: var(--third-family);
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: rgba(0, 0, 0, 0.8);
    }

    .checkForNomer__button {
        box-sizing: border-box;
        border: none;
        border-radius: 10px;
        padding: 14px 24px;
        width: 97%;
        height: 55px;
        background: #fff;
        margin-top: 6px;
        font-family: var(--third-family);
        font-weight: 800;
        font-size: 20px;
        line-height: 150%;
        color: rgba(0, 0, 0, 0.8);
        box-shadow: 0 0 10px rgba(4, 4, 4, 0.1);
    }

    .main__info-aboutAs {
        width: 100%;
    }

    .info-aboutAs__wraper {
        background-color: white;
        border-radius: 30px;
    }

    .aboutAs__label-english {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: 0.14em;
        text-transform: uppercase;
        color: #e6b939;
        margin-bottom: 0px;
        margin-left: 10px;
        padding-top: 5px;
    }

    .aboutAs__title {
        margin: 0px;
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 36px;
        line-height: 120%;
        color: #575445;
        margin-left: 10px;
    }

    .aboutAs__text {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
        color: #575445;
        margin-left: 10px;
        margin-right: 10px;
        padding-bottom: 10px;
    }

    .main__photo-aboutAs {
        width: 100%;
    }

    .photo-aboutAs {
        border-radius: 20px;
    }

    .photo-aboutAs__wraper {
        background-color: white;
        border-radius: 30px;
        height: 560px;
        overflow: hidden;
        border: 3px solid white;
    }

    .photo-wrapper {
        margin-bottom: -15px;
        /* padding: 5px; */
    }

    .photo-aboutAs__wrap {
        width: 100%;
        height: 100%;
        /* overflow: hidden; */
        /* min-width: 440px; */
    }

    .photo-aboutAs__img {
        border-radius: 0 0 30px 30px;
        /* width: 100%; */
        min-width: 395px;
        height: 480px;
    }

    .photo-aboutAs__arrow-right {
        width: 40px;
    }

    #prev {
        position: absolute;
        top: 1460px;
        left: 12px;
        transform: rotate(180deg)
    }

    .photo-aboutAs__arrow-left {
        width: 40px;
    }

    #next {
        position: absolute;
        top: 1460px;
        left: 360px;

    }

    .photo-aboutAs__point {
        position: relative;
        top: -30px;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 180px;
    }

    .photo-point {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: 100%;
    }

    .photo-point__in {
        width: 14px;
        height: 14px;
        border-radius: 10px;
        background-color: #ffffff;
    }

    .photo-point__in-red {
        background-color: red;
    }

    .main__more-aboutAs {
        width: 100%;
    }

    .more-aboutAs__wrapper {
        border-radius: 30px;
        background-color: white;
    }

    .more-aboutAs__photo {
        width: 49%;
        border-radius: 20px;
    }

    .more-aboutAs__photo-serchR {
        position: absolute;
        top: 2121px;
        left: 153px;
    }

    .more-aboutAs__photo-serchL {
        position: absolute;
        top: 2121px;
        left: 352px;
    }

    .maim__price {
        width: 100%;
        height: 180px;
        margin-top: 15px;
    }

    .main__price-wrapper {
        border-radius: 30px;
        background-color: white;
        height: 200px;
        overflow: hidden;
    }

    .price__table {
        background-color: #f0f0f0;
        color: #252525;
        height: 120px;
        border: 1px solid #dddddd;
        border-collapse: collapse;
        text-align: center;
    }

    .price__table-label {
        width: 16%;
        background: #ffffff;
        border: 1px solid #181818;
    }

    .price__table-td {
        width: 16%;
        background: #ffffff;
        border: 1px solid #1d1d1d;
    }

    .main__our-place {
        width: 100%;
        margin-top: 35px;
    }

    .our-place__wrapper {
        background-color: white;
        border-radius: 30px;

    }

    .our-place__photo {
        width: 49%;
        border-radius: 20px;
    }

    .our-place__photo-serchR {
        position: absolute;
        top: 2707px;
        left: 153px;

    }

    .our-place__photo-serchL {
        position: absolute;
        top: 2707px;
        left: 353px;
    }

    .main-map {
        width: 100%;
        height: auto;
        margin-top: 15px;
    }

    .main-map__wrapper {
        background-color: white;
        border-radius: 30px;
        height: 325px;
        overflow: hidden;
    }

    .map__map-img {
        width: 95%;
        height: 230px;
        background-color: #575445;
        margin: 10px;
        border-radius: 30px;
    }

    .map__adrres {
        text-align: center;
        font-size: 30px;
        margin: 0;
    }

    .social {
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
    }

    .main-map__WhatsApp {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 150px;
        background-color: #ffffff;
        border-radius: 30px;
    }

    .main-map__Telegram {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 150px;
        background-color: #ffffff;
        border-radius: 30px;
    }

    .main-map__phon {
        font-size: 32px;
        text-align: center;
        font-weight: 500;
        margin: 15px;
    }

    .WhatsApp_img {
        width: 60px;
        height: 60px;

    }

    .Telegram_img {
        width: 60px;
        height: 60px;
    }

    .footer {
        width: 100%;
        height: 250px;
        background-color: #161616;
        color: #e0e0e0;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
        margin-top: 10px;
        border-radius: 30px;
    }

    .footer__r {
        width: 50%;
        margin-left: 20px;
    }

    .footer__photo {
        position: absolute;
        top: 368%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 130px;
        border-radius: 10px;
        opacity: 0.9;
    }
}

;